body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 800px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

.upload-section {
    margin-bottom: 40px;
}

#imageContainer {
    position: relative;
    display: inline-block;
}

#uploadedImage, .example img {
    max-width: 100%;
    max-height: 300px;
    object-fit: contain;
    border-radius: 4px;
    transition: filter 0.3s ease-in-out;
}

#uploadResult, .label {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #555;
}

.blurred {
    filter: blur(10px);
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button.hidden {
    display: none;
}

button:hover {
    background-color: #0056b3;
}

.examples {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.example {
    width: 48%;
    text-align: center;
}
